section#promotion {
    a: b;
  }
  section#promotion div.wrap {
    a: b;
  }
  section#promotion div.wrap h2 {
    a: b;
  }
  section#promotion div.wrap ul {
    a: b;
  }
  section#promotion div.wrap ul li {
    a: b;
  }
  section#promotion div.wrap ul li a {
    a: b;
  }
  section#promotion div.wrap ul li a h3 {
    a: b;
  }
  section#promotion div.wrap ul li a h3 strong {
    a: b;
  }
  section#promotion div.wrap ul li a h3 i {
    a: b;
  }
  section#promotion div.wrap ul li a p {
    a: b;
  }